body {
    --main-bg-color: rgb(243, 238, 219);
    --second-bg-color: rgb(216, 210, 185);

    --main-font-color: rgb(128, 122, 98);
    --second-font-color: rgb(204, 145, 57);
    --third-font-color: rgb(170, 149, 104);

    margin: 0px;
    padding: 0px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#root {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    height: 100%;
    margin: 0px;
    padding: 0px;
}